html {
  scroll-behavior: smooth;
}

body {
  background: url('../assets/img/bg.webp') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}